@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
  box-shadow: 0 0 1px rgba(77, 77, 77, 0.5);
}

div {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}